
.description{
    color: white;
}
#product_detail #product_details .product_info_list {
    color: white;
}

.product-brand{
    display: inline-block;
    max-width: 100%;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
}

.product-brand > img{
    width: 200px;
}
