// Style for the widget "dashboard_graph_gt"
.o_kanban_dashboard > .record_dashboard_gt {
    margin: 0.2% 0.4% !important;
    width: 100% !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
    max-width: 52.5% !important;
}